body{
    background-color:#5eaaa8;
    font-family:monospace;
}
hr{
    border-style: dotted none none;
    border-color: #9dd8d6;
    border-width: 5px;
    border-radius:px;
    width: 4%;
}
h1{color: #007070;}
h2{color: #007070;}
h3{color:#007070;}
h4{color: #007070;}
h5{color:#007070;}
h6{color:#007070;}
.circular{
    border-radius: 10%;
}